    <div id="captionBox">
        <ul class="article">
            <li class="captionTitle">Burst, 2014. Mobile Application.</li>
            <li class="caption">This project is still a work in progress.  It was developed during the 2014 hackathon at University of Michigan, MHacks. </li>
        </ul>
    </div>

      <div id="burstImg">
       
            <img src="images/interaction/birst_Ux4-explain_1.png" style="margin:auto;display:block">
            <img src="images/interaction/birst_Ux4-explain_2.png">
            <img src="images/interaction/birst_Ux4-explain_3.png">
            <img src="images/interaction/birst_Ux4-explain_4.png">
            <img src="images/interaction/birst_Ux4-explain_5.png">
            <img src="images/interaction/birst_Ux4-explain_6.png">
      </div>

      
