    <div id="captionBox">
        <ul class="article">
            <li class="captionTitle">Data or Information</li>
            <li class="caption">These works aim to highlight the significance of contextualizing content.  Does the user know how--what--why this selection was made? Does the user have the ability to reconfigure that content?  Is the user aware of the constraints which defined this set of information.  

                Navigating the contemporary landscape requires manueivering through complex architectures of information.  Does data exist anymore? Is data just information that offers users easy abiliy to reorganize and reconfigure information?</li>
        </ul>
    </div>
      <div class="project-img-set">
        
            <div class="artArt" id="federer-desktop">
                
                <h2 class="newsCap"><b>March 2013</b> Federer over Desktop, 2013. 42"x 32".</h2>
                
                <div class="data-imgBox">
                    <img srcset="images/artwork/macFederer-1772-300res.jpg 1024w, macFederer-768w-150res.jpg 700w, minecraft-ip-1-150res-201.jpg 320w" sizes="100vw">
                     <img srcset="images/artwork/macFederer-d1-1772-150res.jpg 1024w, macFederer-d1-728-150res.jpg 700w, macFederer-d1-320-150res.jpg 320w" sizes="100vw">
                     <img src="images/artwork/macFederer-d2-1772-150res.jpg">
                </div>
            </div>

            <div class="artArt">
                <!-- <h2 class="newsCap"><b>May 31, 2013</b> Federer over Desktop, 2013. 42"x 32".</h2> -->

                <img src="images/artwork/lawLib-1772-150res.jpg">
                <img src="images/artwork/landscape-what1772w-150res.jpg">
        
            </div>
        


        
        


      </div>

      



    </div>