    <div id="captionBox">
        <ul class="article">
            <li class="captionTitle">Digital or Physical, 2014. 42"x 32" Oil on canvas.</li>
            <li class="caption">How does the material state of an objetct affect how we understand and use that information object?</li>
        </ul>
    </div>

      <div class="project-img-set">
            
            <img src="images/artwork/lawLib-1772-150res.jpg">

            <img src="images/artwork/dig-phy/70auto-color-contrast.jpg">

            <div class="artArt" id="federer-desktop">
                    
                    <h2 class="newsCap"><b>March 2013</b> Physical Archives, 2011.</h2>


                    <div class="data-imgBox">
                        <img srcset="images/artwork/dig-phy/DSC_7881.jpg">
                        <img srcset="images/artwork/dig-phy/DSC_8533.JPG">
                    </div>
            </div>

            <img src="images/artwork/landscape-what1772w-150res.jpg">

            <div class="artArt">
                <h2 class="newsCap"><b>Jan-Mar 2010</b> Shower Series</h2>
                <div class="data-imgBox">
                    <img src="images/artwork/dig-phy/shower8_web.jpg">
                    <img src="images/artwork/dig-phy/shower8_detail_web.jpg">
                </div>
                
            </div>

        


      </div>

      



    </div>