<div id="captionBox">
        <ul class="article">
            <li class="captionTitle">Minecraft Series, 2014. 42"x 32" Oil on canvas.</li>
            <li>This series of paintings was created during my underdraduate thesis project. The works are part of performance called "Harriet Who".</li>
        </ul>
      </div>

      <div class="fake-img">

        <img src="images/tumblr-he1.png">
        <img src="images/tumblr-he2.png">
        <img src="images/tumblr-he3.png">
        <img src="images/tumblr-he4.png">


      </div>
    </div>