    <div id="captionBox">
        <ul class="article">
            <li class="captionTitle"></li>
            <li class="caption">I'm a full-time artist, cultural observer, and interaction designer.  My practice utilizes user experience design methods to reconsider accepted methods of interacting with the world. My own usability probalems are my typically my initia inspiration for a given project. --I'm intrested in user's methods of interacting with the world.  Whether in the physical or digital,  </li>
        </ul>
    </div>

      <div class="project-img-set">

        <img src="images/info/FMendesLevitin_resume_2014_1.jpg">


      </div>

      



    </div>