    <div id="captionBox">
        <ul class="article">
            <li class="captionTitle"></li>
            <li class="caption">I'm a full-time artist, cultural observer, and interaction designer.  My practice utilizes user experience design methods to reconsider accepted methods of interacting with the world. My own usability probalems are typically my initial inspiration for a given project. --I'm intrested in user's methods of interacting with the world.  Whether in the physical, digital, or cultural, architecture is always trying to steal/grab our attention. We are pulled into a new head space. 
             </li><br>
             <img src="images/info/selfie-2015.jpg" alt="selfie" max-height="42">
             <li><embed src="images/info/resume-we160110.pdf"  width="90%"  type='application/pdf'></li>
             <li class="caption" font-style="italics" float:"right">Flesh out Harriet's perspective on the mater and label as field recordings
             </li>
        </ul>
    </div>
      <div class="article">

        <!-- <img src="images/info/resume-we1010-web.pdf"> -->
        


        <!-- <img src="images/info/FMendesLevitin_resume_2014_1.jpg"> -->

<!-- Resume goes in this object  -->
        <!-- <object data="images/info/resume-we1010-web.pdf" 
        type="application/pdf" 
        width="100%" 
        height="100%">

        <p>It appears you don't have a PDF plugin for this browser. No biggie... you can <a href="/pdf/sample.pdf">click here to download the PDF file.</a></p>

        </object> -->


      </div>

      



    </div>