    <div id="captionBox">
        <ul class="article">
            <li class="caption">These paintings explore information as architecture.  Through the process of selecting images, projecting selected images onto canvas, transcribing fragments of the projects, and then painting onto those transcriptions, I discover pictorial spaces­­ or as I like to call, architectures. Is a painting really so different than a graph?  These paintings question this distinction.  By titling the works in a faux scientific manner, my aim is to incite in my viewers’ a resistance to the authority of data representation, for there is always an architecture and the subjectivity of the architect curating the pictographic space.</li>
        </ul>
    </div>
       <div class="project-img-set">

        <div class="artArt">
            
            <!-- <h2 class="newsCap">Undergraduate Senior Thesis work: Minecraft Landscapes <b>2014. ~42"x 32" Oil on canvas.</b></h2> -->
            
            <!-- <img srcset="images/minecraft/minecraft-ip-1-150res-1095.jpg 1024w, minecraft-ip-1-150res-482.jpg 700w, minecraft-ip-1-150res-201.jpg 320w" sizes="100vw"> -->
            <h2 class="newsCap">Alien Objects, 2015. 6'x 3' Oil on Canvas.</h2>
            <div class="data-imgBox">
                    <img src="images/artwork/labTests/aaff-1200w_1792.jpg">
                    <!-- <img src="images/artwork/labTests/AAFF-combined-cutBottom-xs.jpg">
                    <img src="images/artwork/labTests/aaff-painting-1200w.jpg"> -->
                    <img src="images/artwork/labTests/aaff-det2-900w.jpg">

                     
            </div>

            
            <div class="data-imgBox">
                    <img src="images/artwork/labTests/artifact-from-my-travels-1200w.jpg">
                    <img src="images/artwork/labTests/artifact-from-my-travelsDET-1400w.jpg">
                    <img src="images/artwork/labTests/soviet-textile-scan.jpg">
                    
            </div>
            
            
        </div>