    <div id="captionBox">
        <ul class="article">
            <li class="captionTitle">Constructed and Natural landscapes, 2014. 42"x 32" Oil on canvas.</li>
            <li class="caption">How do representations of landscapes affect our perception of space.  My interest in utilizing the image of galexy was fueled out of wanting to showcase the default mac desktop image.</li>
        </ul>
    </div>

      <div class="project-img-set">
            
            <img src="images/artwork/lawLib-1772-150res.jpg">


            <div class="artArt" id="federer-desktop">
                    
                    <h2 class="newsCap"><b>March 2013</b> Federer over Desktop, 2013. 42"x 32".</h2>
                    
                    <div class="data-imgBox">
                        <img srcset="images/artwork/macFederer-1772-300res.jpg 1024w, macFederer-768w-150res.jpg 700w, minecraft-ip-1-150res-201.jpg 320w" sizes="100vw">
                         <img srcset="images/artwork/macFederer-d1-1772-150res.jpg 1024w, macFederer-d1-728-150res.jpg 700w, macFederer-d1-320-150res.jpg 320w" sizes="100vw">
                         <img src="images/artwork/macFederer-d2-1772-150res.jpg">
                    </div>
                </div>


          <div class="data-imgBox">
            <img src="images/artwork/landscape-what/federer1-100res.jpg" class="first-img">
            <img src="images/artwork/landscape-what/federer2-100res.jpg">
            <img src="images/artwork/landscape-what/federer3-100res.jpg">
          </div>
        


      </div>

      



    </div>