    <div id="captionBox">
        <ul class="article">
            <li class="captionTitle">Minecraft Series, 2014. 42"x 32" Oil on canvas.</li>
            <li>This series of paintings was created during my underdraduate thesis project. The works are part of performance called "Harriet Who".</li>
        </ul>
      </div>

      <div class="fake-img">
        <img srcset="images/francesMendesLevitin-1-150res.jpg 1024w, francesMendesLevitin-2-150res.jpg 760w, francesMendesLevitin-3-150res.jpg 320w" sizes="100vw">
        <img srcset="images/francesMendesLevitin-1-150res.jpg 1024w, francesMendesLevitin-2-150res.jpg 768w, francesMendesLevitin-3-150res.jpg 320w" sizes="100vw">

        <img src="images/tumblr-he1.png">
      </div>
    </div>