    <div id="captionBox">
        <ul class="article">
            <!-- <li class="captionTitle">Minecraft Series, 2014. 42"x 32" Oil on canvas.</li> -->
            <li class="caption">I aim to mimic the space of the web. By weaving together various paint applications and rendering styles into a single painting, I create a hybrid space full of layers and links. Through the process of simulating the experience of processing information on the web in paint, my paintings offer viewers an abstract playground where no single navigational architecture holds precedence over another (because there are no words). I aim to engage my viewers in an active viewing experience, so that my viewers will recognize this phenomenon when it occurs while navigating digital space.</li>
        </ul>
    </div>


       <div class="project-img-set">

        <div class="artArt">
            <h2 class="newsCap">Undergraduate Senior Thesis work: Minecraft Landscapes <b>2014. 42"x 32" Oil on canvas.</b><h2>
            
            <img srcset="images/minecraft/minecraft-ip-1-150res-1095.jpg 1024w, minecraft-ip-1-150res-482.jpg 700w, minecraft-ip-1-150res-201.jpg 320w" sizes="100vw">


            <img srcset="images/minecraft/minecraft-ip-2-150res-1095.jpg 1024w, minecraft-ip-2-150res-482.jpg 760w, minecraft-ip-2-150res-201.jpg 320w" sizes="100vw">

            <img srcset="images/minecraft/minecraft-ip-4-150res-1090.jpg 1024w, minecraft-ip-4-150res-482.jpg 760w, minecraft-ip-4-150res-201.jpg 320w" sizes="100vw">

            <img srcset="images/minecraft/minecraft-ip-5-150res-1112.jpg 1024w, minecraft-ip-5-150res-482.jpg 768w, minecraft-ip-5-150res-201.jpg 320w" sizes="100vw">
        </div>

        <div class="artArt">
            <h2 class="newsCap"> Early Ideation: Squares on Squares, 2013. Oil on Canvas.</h2>

            <img src="images/minecraft/slade-minecraft-150res-768.jpg">
            <img src="images/minecraft/minecraft1.jpg">
        </div>
       


      </div>


      



    </div>