    <div id="captionBox">
        <ul class="article">
            <li class="captionTitle">Press & Events</li>
        
        </ul>
    </div>

      <div id="news-content">

        <p class="caption">Musical and Artistic Performances</p>
        <img src="images/info/CavesEventWebSlide.jpg">
        <p class="caption">Featured on umich.edu's homepage</p>
        <img src="images/info/umich-edu.png">
        <p class="caption">Undergraduate Senior Thesis Show,2014.</p>
        <img src="images/info/no-show.jpg">





      </div>

      



    </div>