    <div id="captionBox">
        <ul class="article">
            <li class="captionTitle">Press & Events</li>
        </ul>

    </div>

      <div id="news-content">

            <div class="newsArt project-img-set">
                <h2 class="newsCap"><b>May 31, 2014</b> Featured in & Performed at Music-Art Show</h2>
                <div class="art-imgBox">
                    <img src="images/info/CavesEventWebSlide.jpg">
                    
                </div>
            </div>
            
            
            <div class="newsArt">
                <h2 class="newsCap"><b>May 2014</b> Featured on umich.edu's homepage</h2>
                <img src="images/info/umich-edu.png">
            </div>

            
            <div class="newsArt">
                <h2 class="newsCap"><b>April 20th 2014</b> Undergraduate Senior Thesis Show, 2014.</h2>
                <div class="art-imgBox">
                    <img src="images/info/no-show.jpg">
                    <img src="images/info/noShow-dis.JPG">
                </div>
            </div>

            <div class="newsArt">
                <h2 class="newsCap"><b>April 20th 2014</b> Undergraduate Senior Thesis Poster, 2014.</h2>
                <div class="art-imgBox">
                    <img src="images/info/fmendes-postcard.jpg">
                    
                </div>
            </div>


            




      </div>

      

