    <div id="captionBox">
        <ul class="article">
            <li class="captionTitle">Events & Press</li>
        </ul>

    </div>

      <div id="news-content">
            <div class="newsArt">
                <h2 class="newsCap"><b>March 18, 2016</b><a href="https://www.facebook.com/events/1655486111383695/">Parallax @ Junction Hall</a></h2>
                <div class="art-imgBox">
                    <img src="images/artwork/live-archive/parallax1.JPG"> 
               </div>               
            </div>

            <div class="newsArt">
                <h2 class="newsCap"><b>Dec 16, 2015</b> Matilda's 2nd Live Stream</h2>
                <div class="art-imgBox">
                    <iframe width="640" height="480" src="https://www.youtube.com/embed/8bRgQkh6vmw" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="newsArt">
                <h2 class="newsCap"><b>Dec 23, 2015</b> <a href="https://www.facebook.com/events/962829807126009/">Matilda Performed at Club Above</a></h2>
                <div class="art-imgBox">
                    <iframe width="640" height="480" src="https://www.youtube.com/embed/wGeIhf8HLHI?start=1711" frameborder="0" allowfullscreen></iframe>
               </div>               
            </div>
            
            <div class="newsArt">
                <h2 class="newsCap"><b>Dec 16, 2015</b> Matilda's First Live Stream</h2>
                <div class="art-imgBox">
                    <iframe width="640" height="480" src="https://www.youtube.com/embed/2JO7GqwjPuc?start=3534" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="newsArt">
                <h2 class="newsCap"><b>March 24, 2015 </b><a href="http://aafilmfest.org/53/space_2435_satellite_exhibitions/">53rd Ann Arbor Film Festival Satellite Exhibition</a></h2>
                <div class="art-imgBox">
                    <img src="images/info/aa-1.png"> 
                </div>
            </div>

            <div class="newArt">
                <h2 class="newsCap"><b>May 31, 2014</b> Featured in & Performed at Music-Art Show</h2>
                <div class="art-imgBox">
                    <img src="images/info/CavesEventWebSlide.jpg">
                </div>
            </div>
            
            
            <div class="newsArt">
                <h2 class="newsCap"><b>May, 2014</b> Featured on umich.edu's homepage</h2>
                <img src="images/info/umich-edu.png">
            </div>

            
            <div class="newsArt">
                <h2 class="newsCap"><b>April 20th, 2014</b> Undergraduate Senior Thesis Show</h2>
                <div class="art-imgBox">
                    <img src="images/info/no-show.jpg">
                    <img src="images/info/noShow-dis.JPG">
                </div>
            </div>

            <div class="newsArt">
                <h2 class="newsCap"><b>April 20th, 2014</b> Undergraduate Senior Thesis Poster</h2>
                <div class="art-imgBox">
                    <img src="images/info/fmendes-postcard.jpg">
                    
                </div>
            </div>


            




      </div>

      
