<div id="captionBox">
        <ul class="article">
            <li class="captionTitle">References & Credits</li>
            
        </ul>
      </div>

      <div class="project-img-set">
        <img src="images/info/http://40.media.tumblr.com/4c3b16875919e82666478a35f8acec55/tumblr_n2isyjZIEa1qzag1wo1_500.jpg">

        <p> http://fmendesl.tumblr.com/post/79905498880 </p>
		<p class="captionTitle">Logo Design for Mobile app</p>
        <img src="images/graphic/burst-logo.png">


      </div>
    </div>