<div id="captionBox">
        <ul class="article">
            <li class="captionTitle">Programming projects</li>
        </ul>

    </div>

      <div id="news-content">
            <div class="newsArt">
            
                <h2 class="newsCap"><b>Dyanmic Website Application built with teammates</b> <a href="http://teachmehowtobackpack.herokuapp.com/">teach me how to backpack</a></h2>
                <div class="art-imgBox">
                <li class="caption">built with Flask, and python Whoosh</li>
                    <img src="images/hacking/teachmebackpack.png">

                    <img src="images/hacking/views-py.png">
                    <img src="images/hacking/section.png">
                    <img src="images/hacking/search-py.png">
    
                    <img src="images/hacking/index-writerPy.png">
                    
               </div>               
            </div>

            <div class="newsArt">
               <h2 class="newsCap"><b>HTML, CSS, Javascript</b> <a href="http://localhost:3000/index.html">Franny's Portfolio</a></h2>
                <div class="art-imgBox">
                
                <li class="caption"><a href="https://github.com/FrannyMendesLevitin/portfolio/commits/master">github Repository</a></li>
                <img src="images/hacking/portfolio-website.png">
                

            </div>

            <div class="newsArt">
                <h2 class="newsCap"><b>EECS 183 project</b> Ohhi C++ program </a></h2>
                <img src="images/hacking/xcode-ohhi.png">
                
            </div>