    <div id="captionBox">
        <ul class="article">
            <li class="captionTitle">Caught up in usability problems</li>
            <li class="caption">How we navigate through space in both the digital and physical world is often influenced by representations of landscapes.  Too often, users aren't aware of the architectural elements of digital spaces and don't demand 

            </li>
        </ul>
    </div>
      <div class="project-img-set">
        
            <div class="artArt" id="federer-desktop">
                
                <h2 class="newsCap"><b>March 2013</b> Federer over Desktop, 2013. 42"x 32".</h2>
                
                <li class="caption">Look into graphicdesign.stackexchange.com/ --ran into ux problem on adobe illustrator: why can't you see only the layers from a single artboard?--makes selecting objects difficult.  Even if you've taken the time to organize your layers in adobe illustrator, the moment you copy an artboard, that organization gets confused.  I don't understand how illustrator </li>

                <div class="data-imgBox">
                    <img srcset="images/artwork/macFederer-1772-300res.jpg 1024w, macFederer-768w-150res.jpg 700w, minecraft-ip-1-150res-201.jpg 320w" sizes="100vw">
                     <img srcset="images/artwork/macFederer-d1-1772-150res.jpg 1024w, macFederer-d1-728-150res.jpg 700w, macFederer-d1-320-150res.jpg 320w" sizes="100vw">
                     <img src="images/artwork/macFederer-d2-1772-150res.jpg">
                </div>
            </div>

            <div class="artArt">
                <h2 class="newsCap"><b>May 31, 2013</b> Federer over Desktop, 2013. 42"x 32".</h2>

                <img src="images/artwork/lawLib-1772-150res.jpg">
                <img src="images/artwork/landscape-what1772w-150res.jpg">
        
            </div>
        <!-- <img srcset="images/macFederer-d2-1772-150res.jpg 1024w, macFederer-d2-768-100res.jpg 700w, macFederer-detail-320-100res.jpg 320W" size="100vw"> -->


        
        


      </div>

      



    </div>