ul.article {
	padding:3em 4em 1.5em 3em;
	text-align: justified;
}
.captionTitle {
	font-size: 1.2em;
	/*padding:.4em;*/
}
#cover img {
	overflow: hidden;
	/*max-width: 100%;*/
	z-index:-2;
	height:fixed;
	position:fixed;
}