img { max-width: 100%;
	/*height:100vh;*/
}
html, body, ul {
		height:100%;
		margin:0;
		padding:0;			
		font-family: 'SourceSansProLight', Arial, Helvetica, Geneva, sans-serif;
		letter-spacing:.13em;
		/*line-height: 1.4em;*/

	}
#cover img {
	max-height:100%;
	max-width: 100%;
	z-index:-2;



}
#gif {
	position:absolute;
	top:50px;
	right:0px;
	width:100%;
	z-index:1;
}
.coverGif {
	position:absolute;
	bottom:10px;
	z-index:1;
}
#cssmenu {
	margin-left:.4em;
	height:100%;
	/*position:fixed;*/
	width:76px;
	left:0;
	top:0;
}

#cssmenu ul li a:hover, .nav ul li a#active{
	color:#BA55D3 !important;
	background: #fff;
}

#submenu1 > li:nth-child(2) > a, #submenu1 > li:nth-child(1) > a, #submenu1 > li:nth-child(3) > a, #submenu1 > li:nth-child(4) > a{
	padding-top:10px;
}
#submenu2 > li:nth-child(2) > a, #submenu2 > li:nth-child(1) > a, #submenu2 > li:nth-child(3) > a, #submenu2 > li:nth-child(4) > a{
	padding-top:10px;
}
#submenu3 > li:nth-child(2) > a, #submenu3 > li:nth-child(1) > a, #submenu3 > li:nth-child(3) > a, #submenu3 > li:nth-child(4) > a{
	padding-top:10px;
}
#submenu4 > li:nth-child(2) > a, #submenu4 > li:nth-child(1) > a, #submenu4 > li:nth-child(3) > a, #submenu4 > li:nth-child(4) > a{
	padding-top:10px;
}

li {
	list-style-type: none;
}

#menu-items a {
    text-decoration: none;
  	list-style-type: none;
   	padding:0;
    margin:0;
    color:black;
    float:left;
    
    }
.submenu a {
	/*font-size:.85em; */ 
	font-size: 14px;	
}
.submenu li {
	padding-top:.9em;
}
.submenu > li:nth-child() > a{
	padding-bottom:2em;
}
#menu-items .cat>a {
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 2em;
	/*font-size:.85em; */
}
.active{
	color:#BA55D3 !important;
}
li.submenu{
   padding:1.6em .4em;
   font-weight: bold;
   font-size:.85em;

}

h1 {
	font-size: .7em;
    font-family: 'Press Start 2P', cursive;
    line-height: 207%;
    text-decoration: none;
    list-style-type: none;
    color:black;
}
#col_2 {
    position:relative;
	height:100%;
	margin-left:78px;
	padding:0px;
	top:0;
	right:0;
	padding-left:3em;
	margin-top:-130px;
}

/*#project-description */

ul.article {
	padding:3em 8em 1.5em 8em;
	text-align: justified;


}
.captionTitle {
	font-size: 1.3em;
	font-family: 'SourceSansProLight', Arial, Helvetica, Geneva, sans-serif;
	letter-spacing:.09em;
	text-align: center;
	font-weight: bold;
	padding-bottom: .4em
}
li.caption {
	font-size: .9em;
	line-height: 1.4em;
	text-align: justify;
}
/*@media all and (max-width: 799px) {
	ul.article {
	padding:3em 4em 1.5em 2em;
	text-align: justified;
	}
}*/
.project-img-set img {
	padding-bottom:2%;
	
	max-height: 100vh;
	overflow:hidden;
	position: relative;
	display: block;
	margin:0 auto;
	
/*}
.project-img-set {
	width:100%;*/
}
div#burstImg {
	position:absolute;
 	
 	width:80%;
 }
#burstImg img{
 	display:block !important;
 	
 	margin:auto;
 	padding-bottom: 2em;
 }
 #news-content {
	display:block;
	padding-right:2em;	
}


/*fragments*/

div.data-imgBox {
	width:1200px;
	height:100%;
	overflow: scroll;
	white-space: nowrap;
	/*-webkit-column-count: 2;
  	-moz-column-count: 2;
  	column-count: 2;*/
  	margin:auto;
}
.data-imgBox img{
	height:95vh;
	white-space:nowrap; 
  	overflow:scroll;
  	display:inline;

}
#project-description {
	margin-top:-120px;
}
#project-description > div.project-img-set > div.data-imgBox > img:nth-child(1){
	margin-left: 5em;
}
div.art-imgBox {
	width:1200px;
	height:90%;
	/*overflow: hidden;*/
	white-space: nowrap;
	/*-webkit-column-count: 2;
  	-moz-column-count: 2;
  	column-count: 2;*/
}
div.art-imgBox {
	width:1100px;
	height:90%;
	white-space:nowrap; 
  	overflow:scroll;
  	margin-auto
}
.art-imgBox img{
	max-height:90vh;
	display:inline;
	/*overflow: scroll;
	white-space: nowrap;*/


}

div.newsArt {
	padding-bottom:3em;
	text-align:left;
}
b {
	font-size: .5em;
}
h2.newsCap {
	text-align: center;
	font-size: 1.3em;
}
#project-description > div.project-img-set > div:nth-child() > img:nth-child() {
	right:0px;
}
div.artArt {
	position: relative;
	padding-bottom:3em;
	/*max-width:1200px;*/
}
#federer-desktop {
    width:100%;
    
}
img.artArt {
	padding-bottom: 2em;
}
#footer {
	margin-top:-150px;
	width: 8%;
    z-index: 10;
    position:relative;
    font-size: 10px;
    left:.5em;
    clear: both;
    /*position: absolute; bottom: 10px; right: 10px;*/
}

